* {
	margin: 0;
	padding: 0;
}

body {
	background: #130444;
    color: #032B3F;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
/*------------------------------------------------------------------------*/
/*--------------------------------MAIN------------------------------------*/

main {
    margin: 0;
    color: #032B3F;
    padding: 2rem;
    margin: 3rem;
}

#fondo {
    background-image: url('../img/FondoPrincipal.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

strong {
    color: rgb(58, 58, 58);
}

#rowSuperior {
    background-color: #f7f7f7;
    border-radius: 20px;
}

#rowInferior {
    background-color: #f7f7f7;
    border-radius: 20px;
}

#rowI {
    padding: 0px;
    margin: 3rem;
}

#btnAbrir {
    background-color: #032B3F;
    color: #f7f7f7;
    font-size: x-large;
}

#btnIndividual {
    background-color: #032B3F;
    color: #f7f7f7;
    font-size: x-large;
}

#btnComprimido {
    background-color: #032B3F;
    color: #f7f7f7;
    font-size: x-large;
}

#btnSubir {
    background-color: #032B3F;
    color: #f7f7f7;
    font-size: x-large;
    display: none;
}

#btnDescomprimir {
    background-color: #032B3F;
    color: #f7f7f7;
    font-size: x-large;
    display: none;
}

#btnCeleste {
    background-color: #032B3F;
    color: #f7f7f7;
    font-size: x-large;
}

#fileInput, #fileRAR {
    display: none;
}

#lineaHorizontal {
    border-right: 4px solid #032B3F;
    max-width: 75vh;
}

#tb-a {
    background-color: #f7f7f7;
}

#tb-b {
    background-color: #e1f0fa;
}

#tabla {
    border-color: #0c2d46;
}

/*------------------------------------------------------------------------*/
/*------------------------------FOOTER------------------------------------*/

#DivFooter {
    background-color: #032B3F;
}

#footerText {
    color: #f7f7f7;
}

/*------------------------------------------------------------------------*/
.btnPrimario {
  background-color: #032B3F;
  color: white;
  border: none;
  border-radius: 13px;
  font-size: 14px;
  padding: 6px 16px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;

  /* Alineación horizontal y vertical del ícono + texto */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Espacio entre ícono y texto */
}
.btnPrimario:hover {
  background-color: white;
  color: black;
}

.btnPrimario i {
  margin: 0;
}