body, html {
  margin: 0;
  background: url('../img/FondoPrincipal.webp') no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  color: #032B3F;
}

/*------------------------------------------------------------------------*/
/*------------------------ Cuadro principal ------------------------------*/

.cuadro-principal {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  min-height: 90vh;
  width: 100%;
  max-width: 1300px;
}

.btn-descargar {
  background-color: #0A5386;
  color: #ffffff;
}

.titulo-reporte {
  font-size: 2rem;
  font-weight: bold;
  color: #032B3F;
  text-align: center;
  margin-bottom: 20px;
}

#searchInput {
  display: none;
  margin-top: 10px;
}

/*------------------------------------------------------------------------*/
/*----------------------------- Footer -----------------------------------*/

#DivFooter {
  background-color: #032B3F;
}

#footerText {
  color: #f7f7f7;
}

/*------------------------------------------------------------------------*/

.btnEditar {
  background-color:#032B3F;
  color: white;
  border-radius: 11px;
}

.btnEditar:hover {
  background-color: #114964;
  color: white;
}

.color1 {
  color:#032B3F
}